@using Domain.Entities
@using UsingEF.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
   
    <head>
        <title>Index</title>
    </head>
    <body>

        
        <div>
            <a href="@Url.Action("Index","Books")">Books</a>
        </div>
    </body>
</html>
